.home {
  display: block;
}

.home__title {
  margin-left: 10px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  color: rgb(105, 69, 2);
  text-shadow: 2px 3px 2px rgb(136, 129, 129);
}

.home__list {
  display: flex;
  width: calc(95% / 5);
  margin-left: auto;
  margin-right: auto;
  
}

.link {
  text-decoration: none
}

.trending {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.trending__image {
  width: 100%;
  box-shadow: 2px 2px 4px black;
}
.trending__image:hover {
  transform: scale(1.03);
}

.trending__filmname {text-align: center; color: rgb(203, 195, 195); 
background-color: rgb(72, 71, 71); margin-top: 2px}
